@model ChangePasswordViewModel

@{
    ViewData["Title"] = "Change Password";
}

<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4>Profile</h4>
                <h6>User Profile</h6>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="profile-set">
                    <div class="profile-head">
                    </div>
                    <div class="profile-top">
                        <div class="profile-content">
                            <div class="profile-contentimg">
                                @if (User.Identity.IsAuthenticated && User.IsInRole("Administrator"))
                                {
                                    <img src="~/img/profiles/admin.jpg" alt="Admin" id="blah">
                                }
                                else
                                {
                                    <img src="~/img/profiles/staff.jpg" alt="Staff" id="blah">

                                }

                            </div>
                            <div class="profile-contentname">
                                <h2>@User.Identity.Name</h2>
                                <h4>Change Your Password</h4>
                            </div>
                        </div>
                    </div>
                </div>
                  <form asp-action="ChangePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        <div class="form-group">
                                <label asp-for="CurrentPassword" class="control-label">CurrentPassword</label>
                            <div class="pass-group">
                                   
                                <input type="password" asp-for="CurrentPassword" class="pass-input" />
                                <span asp-validation-for="CurrentPassword" class="fas toggle-password fa-eye-slash"></span>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <div class="form-group">
                                <label asp-for="NewPassword" class="control-label">NewPassword</label>
                            <div class="pass-group">
                                   
                                <input type="password" asp-for="NewPassword" class="pass-input"/>
                                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <div class="form-group">
                                <label asp-for="ConfirmPassword" class="control-label">ConfirmPassword</label>
                            <div class="pass-group">
                                   
                                <input type="password" asp-for="ConfirmPassword" class=" pass-input" />
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                    <div class="col-12">
                         <input type="submit" value="Save" class="btn btn-submit me-2" />
                            <a asp-area="" asp-controller="DashBoard" asp-action="Index" class="btn btn-cancel">Cancel</a>
                        </div>
                </div>
                </form>
            </div>
        </div>


    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
