@model IEnumerable<InventoryMangementSystemEntities.Models.Product>

@{
    ViewData["Title"] = "Products List";
}
<div class="page-wrapper">
    <div class="container">
        <div class="page-header">
            <div class="page-title">
                <h4>Product List</h4>
                <h5>Manage your products</h5>
                <h6>@ViewData["filter"]</h6>
            </div>
            <div class="page-btn" style="display: flex; gap: 10px;">
                <a asp-area="" asp-controller="Products" asp-action="Create" class="btn btn-added">
                    <img src="~/img/icons/plus.svg" alt="img" class="me-1">Add New Product
                </a>
                <a asp-area="" asp-controller="Products" asp-action="UpdateStock" class="btn btn-added" data-toggle="modal" data-target="#updateStockModal">
                    <img src="~/img/icons/reverse.svg" alt="img" class="me-2">Update Stock
                </a>

            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="table-top">
                    <div class="search-set">
                        <div class="search-path">
                            <a class="btn btn-filter" id="filter_search">
                                <img src="~/img/icons/filter.svg" alt="img">
                                <span><img src="~/img/icons/closes.svg" alt="img"></span>
                            </a>
                        </div>
                        <div class="search-input">
                            <a class="btn btn-searchset"><img src="~/img/icons/search-white.svg" alt="img"></a>
                        </div>
                    </div>
                   
                </div>
                    <div class="card mb-0" id="filter_inputs">
                        <div class="card-body pb-0">
                            <div class="row">
                                <div class="col-lg-12 col-sm-12">
                                    <div class="row">
                                        <!-- Filter by Stock Status -->
                                        <div class="col-lg col-sm-6 col-12">
                                            <div class="form-group">
                                            <select name="filter" class="select" id="filter">
                                                    <option value="all">All Products</option>
                                                    <option value="low">Low Stock</option>
                                                    <option value="out">Out of Stock</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="table-responsive">
                    <table class="table  datanew">
                        <thead>
                            <tr>
                                <th>
                                    <label class="checkboxs">
                                        <input type="checkbox" id="select-all">
                                        <span class="checkmarks"></span>
                                    </label>
                                </th>
                                <th>Product Name</th>
                                <th>Category </th>
                                <th>Supplier</th>
                                <th>price</th>
                                <th>MinQTy</th>
                                <th>Qty</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <partial name="_ProductsCards" model="Model" />
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $('#filter').on('change', function (e) {
            LiveSearch();
        });

        function LiveSearch() {
            // Get the selected filter value
            let value = $('#filter').val();

            $.ajax({
                type: "GET",
                url: '@Url.Action("Filter", "Products")',
                data: { filter: value },
                datatype: "html",
                success: function (data) {
                    // Replace the table body with the filtered result
                    $(".datanew tbody").html(data);
                },
                error: function (xhr, status, error) {
                    console.log("An error occurred: " + error);
                }
            });
        }
       

    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

}
