<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>@ViewData["title"]</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/img/logo.jpg">


    <link rel="shortcut icon" type="image/x-icon" href="~/img/favicon.jpg">

    <link rel="stylesheet" href="~/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/plugins/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="~/css/style.css">
</head>

<body class="account-page">
    <div class="main-wrapper">
        <div class="account-content">
            <div class="login-wrapper">
                <div class="login-content">
                    <div class="login-userset">
                        <div class="login-logo">
                            <img src="~/img/logo.jpg" alt="img">
                        </div>
                        <div>
                            <main role="main">
                                @RenderBody()
                            </main>
                        </div>
                        
                    </div>
                </div>
                <div class="login-img">
                    <img src="~/img/login.jpg" alt="img">
                </div>
            </div>
        </div>
    </div>

    <script src="~/js/jquery-3.6.0.min.js"></script>

    <script src="~/js/feather.min.js"></script>

    <script src="~/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/script.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>
