<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>@ViewData["Title"] - InventoryMangementSystem</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/img/logo.jpg">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/InventoryMangementSystem.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/plugins/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">
    <link rel="stylesheet" href="~/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/plugins/owlcarousel/owl.carousel.min.css">


</head>

<body>


    <div id="global-loader">
        <div class="whirly-loader"> </div>
    </div>
    <div class="main-wrapper">
        <div class="header">
            <div class="header-left active">
                <a class="logo" asp-area="" asp-controller="DashBoard" asp-action="index">
                    <img src="~/img/logo.jpg" alt="">
                </a>
                <a id="toggle_btn" href="javascript:void(0);">
                </a>
            </div>

            <a id="mobile_btn" class="mobile_btn" href="#sidebar">
                <span class="bar-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </a>

            <ul class="nav user-menu">
               
                 <li class="nav-item mt-3" >
                    <h6 class="mb-0">Welcome, @User.Identity.Name</h6>
                  </li>
      
                 <li class="nav-item dropdown has-arrow main-drop">
                     <a href="javascript:void(0);" class="dropdown-toggle nav-link userset" data-bs-toggle="dropdown">
                <span class="user-img">
                    @if(User.Identity.IsAuthenticated && User.IsInRole("Administrator"))
					{
                                <img src="~/img/profiles/admin.jpg" alt="">
                            }
                            else
                            {
                                                    <img src="~/img/profiles/staff.jpg" alt="">

                            }
                            <span class="status online"></span>
                </span>
            </a>
            <div class="dropdown-menu menu-drop-user">
                <div class="profilename">
                    <div class="profileset">
                        <span class="user-img">
 @if(User.Identity.IsAuthenticated && User.IsInRole("Administrator"))
					{
                                <img src="~/img/profiles/admin.jpg" alt="">
                            }
                            else
                            {
                                                    <img src="~/img/profiles/staff.jpg" alt="">

                            }                            <span class="status online"></span>
                        </span>
                        <div class="profilesets">
                            <h6>@User.Identity.Name</h6>
                        </div>
                    </div>
                    <hr class="m-0">
                    <a class="dropdown-item" asp-area="" asp-controller="Administration" asp-action="ChangePassword"><i class="me-2" data-feather="edit-2"></i>Change Password</a>
                    <hr class="m-0">
                <form asp-action="Logout" method="post" asp-controller="Account">
                    <button type="submit" class="dropdown-item logout pb-0"><img src="~/img/icons/log-out.svg" class="me-2" alt="img">Logout</button>
                </form>

                </div>
            </div>
                  </li>
      
            </ul>
        </div>


        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li>
                            <a asp-area="" asp-controller="DashBoard" asp-action="index"><img src="~/img/icons/dashboard.svg" alt="img"><span> Dashboard</span> </a>
                        </li>
                                                <hr class="m-0">

                        <li class="submenu">
                            <a href="javascript:void(0);"><img src="~/img/icons/product.svg" alt="img"><span> Product</span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a asp-area="" asp-controller="Products" asp-action="index">Product List</a></li>
                                <li><a asp-area="" asp-controller="Products" asp-action="Create">Add Product</a></li>
                                <li><a asp-area="" asp-controller="Categories" asp-action="index">Category List</a></li>
                                <li><a asp-area="" asp-controller="Categories" asp-action="Create">Add Category</a></li>
                            </ul>
                        </li>

                                                <hr class="m-0">

                        <li class="submenu">
                            <a href="javascript:void(0);"><img src="~/img/icons/users1.svg" alt="img"><span> People</span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a asp-area="" asp-controller="Suppliers" asp-action="index">Supplier List</a></li>
                                @if (User.IsInRole("Administrator") && User.Identity.IsAuthenticated)
                                {
                                    <li><a asp-area="" asp-controller="Suppliers" asp-action="Create">Add Supplier </a></li>
                                    
                                }
                            </ul>

                            @if (User.IsInRole("Administrator") && User.Identity.IsAuthenticated)
                            {
                                <hr class="m-0">
                            <li class="submenu">
                                <a href="javascript:void(0);"><img src="~/img/icons/time.svg" alt="img"><span> Report</span> <span class="menu-arrow"></span></a>
                                <ul>
                                    <li><a asp-area="" asp-controller="Suppliers" asp-action="Report">Supplier Report</a></li>
                                    <li><a asp-area="" asp-controller="Products" asp-action="Report">Purchase Report</a></li>
                                    <li><a asp-area="" asp-controller="StockLevels" asp-action="Report">Stock Level Report</a></li>
                                </ul>
                            </li>
                                
                            }

                            @if (User.IsInRole("Administrator") && User.Identity.IsAuthenticated)
                            {
                                                            <hr class="m-0">

                                <li class="submenu">
                                    <a href="javascript:void(0);"><img src="~/img/icons/users1.svg" alt="img"><span> Users Management</span> <span class="menu-arrow"></span></a>
                                    <ul>
                                        <li><a asp-area="" asp-controller="Administration" asp-action="NewUser">New User</a></li>
                                        <li><a asp-area="" asp-controller="Administration" asp-action="GetAllUsers">Users List</a></li>
                                    </ul>
                                </li>
                            }
                    </ul>
                </div>
            </div>
        </div>

    </div>


    <div>
        <main role="main" class="pb-xl-5">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/feather.min.js"></script>
    <script src="~/js/jquery.slimscroll.min.js"></script>
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script src="~/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/script.js" asp-append-version="true"></script>
    <script src="~/plugins/select2/js/select2.min.js"></script>
    <script src="~/plugins/sweetalert/sweetalert2.all.min.js"></script>
    <script src="~/plugins/sweetalert/sweetalerts.min.js"></script>
    <script src="~/plugins/fileupload/fileupload.min.js"></script>
    <script src="~/plugins/owlcarousel/owl.carousel.min.js"></script>
    <script>
        //make the active class on the sidebar
        $(document).ready(function () {
			var current = location.pathname;
			$('#sidebar-menu a').each(function () {
				var $this = $(this);
				if ($this.attr('href').indexOf(current) !== -1) {
					$this.addClass('active');
					if ($this.parents('ul').length) {
						$this.parents('ul').prev().addClass('active');
					}
				}
			})
		});

</script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
